.item2 {
    display: flex;
    flex-direction: column; 
}

.nav-items {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    list-style-type: none;
    padding-bottom: 100px;
}

.nav-items li {
    margin: 120px 0; /* Space out the items vertically */
}

.item3 p {
    color: #c55a02;
    margin: 15px;
    padding: 10px;
    font-size: 0.8em;
}

.item4 p {
    color: #989797;
    text-align: left;
    padding: 15px;
}

.download-btn {
    display: block;
    width: calc(100%-40px);
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.1em;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.item1 {
    position: sticky;
    top: 0;
    background-color: #4d0000;
    z-index: 1000;
}

.item3 ol li {
    font-size: 1.2em;
    width: 80%;
    padding: 2px;
    background-color: #ff7f7f;
    margin: 10px 0;
    list-style: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.item3 ol li:hover {
    transform: scale(1.1) rotate(-1deg);
    background-color: #ff4c4c;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.item3 img {
    width: 120px;
    padding: 2px;
    background-color: #ffdd7f;
    margin: 10px 0;
    list-style: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.item3 img:hover {
    transform: scale(1.1);
    opacity: 0.5;
    background-color: #929500;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.download-btn:hover {
    background-color: #0056b3; 
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .grid-container {
        flex-direction: column;
        font-size: 21px;
        padding: 10px;
    }

    .item1, .item3, .item4 {
        width: 100%;
        margin-bottom: 10px;
    }

    body, p {
        font-size: 16px;
    }
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        padding: 5px;
        font-size: 16px;
    }

    .item1, .item3, .item4 {
        margin-bottom: 5px;
    }

    body, p {
        font-size: 12px;
    }
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        padding: 2px;
        font-size: 12px;
    }

    body, p {
        font-size: 12px;
    }
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 19px;
    }
}